# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=ElectroPiTask
DB_SYNC=false
DB_LOGGING=true

# JWT
JWT_SECRET=change_me_to_a_strong_secret
JWT_EXPIRES_IN=7d
